<p>
  If you mouse out of this page to the URL bar, you should see a modal. If you set
  the {{#link-to 'configuration'}}`logExitIntent` configuration value{{/link-to}} to `true`,
  you won't directly see a modal, but the default event will be logged with appboy.
  Your team can then wire events to the custom event `exit intent` to show modals
  and stuff.
</p>

{{#if shown}}
  <h1>NOTE</h1>
  The modal will only show once on the page. To fire again, you can
  refresh the page.
  {{#paper-button primary=true raised=true onClick=(action refresh)}}Again!{{/paper-button}}
{{/if}}
