<p>
  ember-braze customizes the Braze In-App Messages to be compatible with Ember.
</p>
<p>
    The default implementation will hard-refresh your site by not using
    the <a href="https://guides.emberjs.com/v2.8.0/routing/">Ember Router</a>, and instead
    use <code>window.location</code> to transition.
</p>
<p>
  With the ember-braze, your team can set up URI redirects, and it will be passed to <code>router.transitionTo</code> automatically.
</p>
<p>
  For more information, check out the
  <a href="https://www.braze.com/documentation/Web/#in-app-messaging">docs</a>.
</p>


<h1>Examples</h1>
<h3>Slide-Up In-App Messages</h3>
<p>
  <a href="https://www.braze.com/documentation/Web/#slideup-in-app-messages">Docs</a>
</p>

{{#paper-button raised=true onClick=(action showSlideUpMessage)}}
  Slide-Up Example
{{/paper-button}}

<h3>Modal In-App Messages</h3>
<p>
  <a href="https://www.braze.com/documentation/Web/#modal-in-app-messages">Docs</a>
</p>

{{#paper-button raised=true onClick=(action showModal)}}
  Modal Example
{{/paper-button}}

{{#if isTestEnv}}
  {{! no need to show this to consumers of the docs }}
  {{#paper-button id='trigger-modal-with-undefined-buttons' raised=true onClick=(action showModalWithUndefinedButtons)}}
    Undefined Button Modal Example
  {{/paper-button}}
{{/if}}

<br />

{{#paper-button id='trigger-modal-with-transition' raised=true onClick=(action showModalWithTransition)}}
  Modal With Transition Example
{{/paper-button}}

<br />

{{#paper-button id='trigger-modal-with-one-button' raised=true onClick=(action showModalWithOneButton)}}
  Modal With One Button Example
{{/paper-button}}

<br />

{{#paper-button id='trigger-modal-with-two-buttons' raised=true onClick=(action showModalWithTwoButtons)}}
  Modal With Two Buttons Example
{{/paper-button}}

<br />

{{#paper-button id='trigger-modal-with-external-link' raised=true onClick=(action showModalWithExternalLink)}}
  Modal With External Link
{{/paper-button}}

<br />

{{#paper-button id='trigger-modal-with-hash-fragment-link' raised=true onClick=(action showModalWithHashFragmentLink)}}
  Modal With Hash Fragment Link
{{/paper-button}}

<h3>Fullscreen In-App Messages</h3>
<p>
  <a href="https://www.braze.com/documentation/Web/#full-in-app-messages">Docs</a>
</p>

{{#paper-button raised=true onClick=(action showFullWithOneButton)}}
  Fullscreen Modal With One Button Example
{{/paper-button}}

<br />

{{#paper-button raised=true onClick=(action showFullWithTwoButtons)}}
  Fullscreen Modal With Two Buttons Example
{{/paper-button}}
