$primary: 'appboy-black';

@import 'color-palette';
$color-appboy-black: (
  '100': #1C222B,
  '500': #1C222B,
  '600': #1C222B,
  'contrast': $light-contrast-color
) !default;

$colors: map-merge($colors, (
  'appboy-black': $color-appboy-black
));

@import 'ember-paper';

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

body.ember-application {
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > div.ember-view {
  flex-direction: row;
  flex: 1;
  display: flex;
}

md-sidenav {
  md-content {
    a {
      color: inherit;
      font-size: 1.2em;
      text-decoration: none;

      &:visited {
        color: inherit;
      }

      &.active {
        border-bottom: 1px black solid;
      }
    }
  }

  md-toolbar {
    .icon-link:not(:first-of-type) {
      padding-left: 20px;
    }
  }
}

.content {
  overflow-y: auto;

  md-toolbar.md-default-theme {
    color: #000 !important;
    background-color: #F5F5F5 !important;

    &+ div {
      padding: 0 20px;
    }
  }
}
