{{#paper-toolbar class='md-whiteframe-1dp'}}
  {{#paper-toolbar-tools}}<h2>Analytics</h2>{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div>
  {{#ember-markdown-section}}
    To use the analytics behavior, simply import appboy and utilize any of the
    exposed functionality.
  {{/ember-markdown-section}}
  {{code-snippet name='es6-usage.js'}}
  {{#ember-markdown-section}}
    For more information, check out the
    [docs](https://www.appboy.com/documentation/Web/#analytics).
  {{/ember-markdown-section}}
</div>
