{{#paper-toolbar class='md-whiteframe-1dp'}}
  {{#paper-toolbar-tools}}<h2>Analytics</h2>{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div>
  <p>
    To use the analytics behavior, simply import appboy and utilize any of the
    exposed functionality.
  </p>
  {{code-snippet name='es6-usage.js'}}
  <p>For more information, check out the
    <a href="https://www.braze.com/documentation/Web/#analytics">docs</a>.
  </p>
</div>
