{{#paper-toolbar class='md-whiteframe-1dp'}}
  {{#paper-toolbar-tools}}<h2>Introduction</h2>{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div>
  <h1 id="what-is-ember-braze-">What is ember-braze?</h1>
  <p>
    ember-braze exposes the <a href="https://github.com/Appboy/appboy-web-sdk">appboy-web-sdk</a>
    to your Ember app. It integrates the native Web SDK package into the Ember environment.
  </p>
  <p>
    For more information on Braze, visit <a href="http://braze.com/">Braze.com</a>.
  </p>

  <h1 id="installation">Installation</h1>
  <p>
    Installing ember-braze is easy. Run:
  </p>
  {{code-snippet name="install.sh"}}

  <h1 id="usage">Usage</h1>
  <p>
    By default, this addon merges an
    <a href="https://github.com/blimmer/ember-braze/blob/master/addon/instance-initializers/appboy.js">instance-initializer</a>
    into your app to integrate Braze's functionality into the Ember environment.
  </p>
  <p>
    To utilize additional Braze functionality, this addon exposes the SDK as an
    ES6 Module. To use it, you can import it like any other module:
  </p>
  {{code-snippet name='es6-usage.js'}}

  <p>
    For more information on the SDK, please check out the
    <a href="https://js.appboycdn.com/web-sdk/2.0/doc/module-appboy.html#toc0">docs</a>.
  </p>

  <h1 id="configuration">Configuration</h1>
  <p>
    You might want to configure ember-braze to meet your needs. Read more about
    configuration {{#link-to 'configuration'}}here{{/link-to}}.
  </p>

  <h1 id="legal">Legal</h1>
  <p>
    This addon is in no way affiliated with Braze. It is developed by
    <a href="https://benlimmer.com">Ben Limmer</a> and is simply a wrapper around the
    appboy-web-sdk to make integration with Ember apps simple.
  </p>
</div>
