{{#paper-toolbar class='md-whiteframe-1dp'}}
  {{#paper-toolbar-tools}}<h2>News Feed</h2>{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div>
  <p>
    The Appboy News Feed should work out of the box with Ember. With 0.1.0, you'll
    need to toggle the feed manually. Future versions will support this out of the
    box.
  </p>

  <p>
    <strong>Disclaimer</strong>: I am not using this feature currently, so your mileage may vary.
    If you are using this feature with ember-braze, please update
    <a href="https://github.com/blimmer/ember-braze/issues/2">this GitHub issue</a> with
    any relevant information.
  </p>
</div>
